<div class="container" style="width:80%">
  <div class="social">
    <a href="https://www.linkedin.com/in/satyanarayanraju/" target="_blank"><i class="fa fa-linkedin-square li" aria-hidden="true"></i></a>
    <a href="https://github.com/svadapalli" target="_blank"><i class="fa fa-github gh" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/satya.aquarian" target="_blank"><i class="fa fa-facebook-square fb"></i></a>
  </div>
  <div>
    <h3 class="email">Have a question or a project? Please send an email to <a style="color:white" href="mailto:satya.aquarianadm@gmail.com" target="_blank">satya.aquarianadm@gmail.com</a></h3>
    <h3 class="email">or call: 757-355-3639</h3>
  </div>
  <br>
  <div>
    <p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3188.757307733091!2d-76.27296678540186!3d36.943966279919195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ba909ff80c073b%3A0x281b6ef2736c4950!2s287+Congress+Rd%2C+Norfolk%2C+VA+23503!5e0!3m2!1sen!2sus!4v1513382597201" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
  </div>

</div>
