<div class="container bg-1">
  <div class="heading">
    <h3>Satyanarayan Raju Vadapalli</h3>
    <p><i>satya.aquarianadm@gmail.com</i></p>
    <p>287, Congress Rd, Ph: (757)-355-3639</p>
    <p>Norfolk, VA - 23503</p>
  </div>
  <br />
  <div class="content">
    <h3>Summary:</h3>
    <p>Full Stack developer having 8+ years of IT experience, with exceptional skills in Analysis, Object Oriented Design, Development, Implementation and Testing of Web Applications. Dedicated to constantly improving tools and infrastructure to maximize productivity, minimize downtime and effectively respond to business needs and challenges. Strong Project Management experience, leading and mentoring developers.</p>
    
    <br />
    <h3>Skill Highlights:</h3>
    
    <div class="row">
      <div class="col-md-6">
        <h4><b>Languages</b>:</h4>
        <p>Java, Python, C++, HTML, CSS, JavaScript, PHP, XML</p>
        
        <h4><b>Frameworks/Libraries:</b></h4>
        <p>Bootstrap, jQuery, AJAX, Angular, Node, OpenCV</p>
        
        <h4><b>Deployment Platforms:</b></h4>
        <p>Tomcat, Apache HTTP, Memchached, Docker, Ubuntu, CentOS, AWS, Open stack</p>
      </div>
      <div class="col-md-6">
        <h4><b>Databases:</b></h4>
        <p>MySQL, SQL Server, MongoDB, Oracle, ElasticSearch</p>

        <h4><b>Protocols:</b></h4>
        <p>HTTP, REST, JSON, SOAP, SMTP, FTP</p>
        
        <h4><b>Dev. Environments:</b></h4>
        <p>Eclipse, Visual Studio, Sublime Text, GIT</p>
        
        <h4><b>Management Tools:</b></h4>
        <p>JIRA, Gantt Chart, Microsoft Project </p>
      </div>
    </div>
    <h3>Experience:</h3>
    
    <p><b>Norfolk State University, </b>Norfolk, VA <span style="float:right">01/2016 – 12/2017</span></p>
    <p>Graduate Research Assistant</p>
    <ul>
      <li> Masters Project: Open Source Intelligence on Cyber Security from Twitter feed using Natural language processing and ElasticSearch.</li>
      <li> Developed a quiz app for the department, which was integrated with the learning resources for the students.</li>
      <li> Developed a web application similar to Stackoverflow, where users could ask questions and provide answers to questions from other users.</li>
      <li> Developed a patient activity monitoring system for a hospital using IoT technologies.</li>
      <li> Technologies: Java, Python, HTML, CSS, JavaScript, PHP, Machine learning, OpenCV, MS API’s, D3, ElasticSearch</li>
    </ul>
    
    <p><b>Thomson Reuters</b>, Bangalore, India <span style="float:right">03/2015 – 07/2016</span></p>
    <p>Project Manager</p>
    <ul>
      <li> Part of a team which designed and developed solutions as extensions of an existing CRM system to improve performance and handle additional load while reducing the overall downtime.</li>
      <li> Developed and implemented efficient, flexible and reusable user interface components using Object oriented JavaScript, HTML, CSS and Bootstrap. Created single page applications using Angular and user dashboard using Angular material.</li>
      <li> Engaged in the development of server-side RESTful APIs using Node.js and MongoDB.</li>
      <li> Design and development of a normalized database which could scale to requirements.</li>
      <li> Lead Data center optimization projects, designing and implementing the strategy to move to cloud based infrastructure.</li>
      <li> Technologies: Java, Python, HTML, CSS, Bootstrap, JavaScript, PHP, Angular.js, Node.js, MongoDB, SQL Server, AWS</li>
  </ul>

    <p><b>EMC Corporation (EMC²),</b> Bangalore, India <span style="float:right">05/2013 – 03/2015</span></p>
    <p>Associate Tech Solution Project Manager</p>
    <ul>
      <li> Worked in a team responsible for Content management application for large enterprise customers.</li>
      <li> Designing and implementing solutions, including technical design for end-to-end development, testing and deployment of out-of-the-box solutions.</li>
      <li> Provide technical documentation for the developed modules and participate in customer acceptance testing and delivery</li>
      <li> Developing / modifying several existing Workflows and Reporting services.</li>
      <li> Technologies: Java/J2EE, JavaScript, XML, EMC Documentum Content Server, Workflows, Composer, API, SQL</li>
    </ul>

    <p><b>HCL Technologies</b>, Bangalore, India <span style="float:right">03/2010 – 05/2013</span></p>
    <p>Assistant Manager</p>
    <ul>
      <li> Contributed software engineering expertise in the development of products through the software lifecycle, from requirements definition through successful deployment.</li>
      <li> Architect and deploy robust datacenter solutions for a range of clients from Automobile industry to financial industry.</li>
      <li> Manage a team of developers with operations priority and development goals utilizing Agile techniques.</li>
    </ul>

    <p><b>Tata Consultancy Services</b>, Bangalore, India <span style="float:right">04/2009 – 03/2010</span></p>
    <p>Senior Associate</p>
    <ul>
      <li> Data analytics for large retail clients in the US.</li>
      <li> Developed strategies for new product launch based on demographic and competitor data analysis.</li>
      <li> Created dashboards with visualizations for business leaders to provide a view of their business vis-à-vis the competition based of various parameters.</li>
    </ul>
    <br>
    <h3>Education:</h3>
    <div class="row">
      <div class="col-md-4">
        <p><b>Master of Science</b>, Dec 2017</p>
        <p>Norfolk State University, Virginia</p>
        <p>Major(s): Computer Science</p>
        <p>GPA: 4.0</p>
      </div>
      <div class="col-md-4">
        <p><b>Post Graduate Diploma in Management,</b> 2009 </p>
        <p>GITAM University, India</p>
        <p>Major(s): Finance and Marketing</p>
      </div>
      <div class="col-md-4">
        <p><b>Bachelor of Science,</b> 2006</p>
        <p>Andhra University, India</p>
        <p>Major(s): Electronics</p>
      </div>
    </div>
    <br />

    <h3>Certifications:</h3>
    
    <p> Project Management Professional - PMP Certified – PMI</p>
    <p> Cloud Infrastructure and Services Associate (EMC-CIS)</p>
    <p> ISO/IEC 20000 Certified</p>
  </div>
</div>
